@import '@fontsource/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* from bg-neutral-800 */
    --tw-bg-opacity: 1;
    --background-color: rgb(23, 23, 23);
    background-color: var(--background-color);

    /* from text-gray-300 */
    --tw-text-opacity: 1;
    --text-color: rgb(209 213 219 / var(--tw-text-opacity));
    color: var(--text-color);

    --font-body: Inter, sans-serif;
    font-family: var(--font-body);
  }
}
